/*@tailwind base;*/
@tailwind components;
@tailwind utilities;
.imageWrapper {
    position: absolute;
    bottom: 20px; /* Sesuaikan dengan jarak dari bawah yang diinginkan */
    right: 20px; /* Sesuaikan dengan jarak dari kanan yang diinginkan */
  }
  

  .ant-input-affix-wrapper-focused {
    border: 1px solid #FF7D04 !important;
    box-shadow: 0 0 0 2px #FF7D04 !important;
  }

  .ant-input-affix-wrapper:hover {
    border: 1px solid #FF7D04 !important
  }

  :where(.css-dev-only-do-not-override-1u09lqq).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: #FF7D04;
    border-color: #FF7D04;
  }

  :where(.css-dev-only-do-not-override-1u09lqq).ant-upload-wrapper .ant-upload-drag p.ant-upload-drag-icon .anticon {
    color: #FF7D04;
    font-size: 48px;
  }

  :where(.css-dev-only-do-not-override-1u09lqq).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-1u09lqq).ant-menu-light > .ant-menu .ant-menu-item-selected {
    color: white;
  }

  :where(.css-dev-only-do-not-override-1u09lqq).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-1u09lqq).ant-menu-light > .ant-menu .ant-menu-item-selected {
    background-color: #FF7D04;
  }

  :where(.css-dev-only-do-not-override-1u09lqq).ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title, :where(.css-dev-only-do-not-override-1u09lqq).ant-menu-light > .ant-menu .ant-menu-submenu-selected > .ant-menu-submenu-title {
    color: black;
  }

  :where(.css-dev-only-do-not-override-1u09lqq).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
    color: #fff;
    background-color: #f7a960;
  }
  :where(.css-dev-only-do-not-override-1u09lqq).ant-btn-primary:not(:disabled):not(.ant-btn-disabled) {
    color: #fff;
    background-color: #FF7D04;
  }
  :where(.css-dev-only-do-not-override-1u09lqq).ant-input:hover {
    border-color: #FF7D04;
    border-inline-end-width: 1px;
  }
