/*@tailwind base;*/
@tailwind components;
@tailwind utilities;
.imageWrapper {
    position: absolute;
    bottom: 20px; /* Sesuaikan dengan jarak dari bawah yang diinginkan */
    right: 20px; /* Sesuaikan dengan jarak dari kanan yang diinginkan */
  }
.div-list{
  background-color: #FED08C ;
}
.border-list{
  border-color: #FF7D04;
  border-width: 1px;
}
  .ant-input-affix-wrapper-focused {
    border: 1px solid #FF7D04 !important;
    box-shadow: 0 0 0 2px #FF7D04 !important;
  }

  .ant-input-affix-wrapper:hover {
    border: 1px solid #FF7D04 !important
  }

  :where(.css-dev-only-do-not-override-1u09lqq).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: #FF7D04;
    border-color: #FF7D04;
  }

  :where(.css-dev-only-do-not-override-1u09lqq).ant-upload-wrapper .ant-upload-drag p.ant-upload-drag-icon .anticon {
    color: #FF7D04;
    font-size: 48px;
  }

  :where(.css-dev-only-do-not-override-1u09lqq).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-1u09lqq).ant-menu-light > .ant-menu .ant-menu-item-selected {
    color: white;
  }

  :where(.css-dev-only-do-not-override-1u09lqq).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-1u09lqq).ant-menu-light > .ant-menu .ant-menu-item-selected {
    background-color: #FF7D04;
  }

  :where(.css-dev-only-do-not-override-1u09lqq).ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title, :where(.css-dev-only-do-not-override-1u09lqq).ant-menu-light > .ant-menu .ant-menu-submenu-selected > .ant-menu-submenu-title {
    color: black;
  }

  :where(.css-dev-only-do-not-override-1u09lqq).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
    color: #fff;
    background-color: #f7a960;
  }
  :where(.css-dev-only-do-not-override-1u09lqq).ant-btn-primary:not(:disabled):not(.ant-btn-disabled) {
    color: #fff;
    background-color: #FF7D04;
  }
  :where(.css-dev-only-do-not-override-1u09lqq).ant-input:hover {
    border-color: #FF7D04;
    border-inline-end-width: 1px;
  }

  :where(.css-dev-only-do-not-override-1u09lqq).ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    border-color: #FF7D04;
  }

  :where(.css-dev-only-do-not-override-1u09lqq).ant-picker:hover, :where(.css-dev-only-do-not-override-1u09lqq).ant-picker-focused {
    border-color: #FF7D04;
    border-inline-end-width: 1px;
  }

  :where(.css-dev-only-do-not-override-1u09lqq).ant-tabs .ant-tabs-tab:hover {
    color: #f7a960;
  }
  :where(.css-dev-only-do-not-override-1u09lqq).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #FF7D04;
    text-shadow: 0 0 0.25px currentcolor;
  }
  .ant-tabs-tab .ant-tabs-tab.ant-tabs-tab-active{
    border-bottom: #FF7D04;
  }

  :where(.css-dev-only-do-not-override-1u09lqq).ant-pagination .ant-pagination-item-active:hover a {
    color: #FF7D04;
  }

  :where(.css-dev-only-do-not-override-1u09lqq).ant-pagination .ant-pagination-item-active:hover {
    border-color: #FF7D04;
  }

  :where(.css-dev-only-do-not-override-1u09lqq).ant-pagination .ant-pagination-item-active a {
    color: #FF7D04;
  }

  :where(.css-dev-only-do-not-override-1u09lqq).ant-pagination .ant-pagination-item-active {
    border-color: #FF7D04;
  }
  
  .ant-collapse>.ant-collapse-item >.ant-collapse-header .ant-collapse-arrow svg {
    font-size: 1.25rem;
  }

  .ant-collapse-small >.ant-collapse-item >.ant-collapse-header {
    align-items: center;
  }
  .ant-btn-primary {
    background-color: #FF7D04;
    border-radius: 16px;
  }
  .ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: white;
    color:#FF7D04;
    border: #FF7D04 1px solid;
  }
  .ant-btn-primary:not(:disabled):not(.ant-btn-disabled):focus-visible {
    outline: #FF7D04 4px solid;
  }

  .ant-modal .ant-modal-footer {
    text-align: center;
  }
  .ant-input:hover,
  .ant-picker:hover, 
  .ant-picker-focused,
  .ant-input-number:hover,
  .ant-input-number-focused,
  .ant-input:focus{
    border: #FF7D04 1px solid;
    box-shadow: none;
  }
 
  .ant-input-number .ant-input-number-input {
    height: 44px;
    font-size: 16px;
  }
  .ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner{
    background-color: #FF7D04;
  }
  .ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before{
    border:#FF7D04 1px solid;
  }
  .ant-modal .ant-modal-title{
    font-size: 32px;
    margin-bottom:33px;
  }
  .ant-input:placeholder-shown,
  .ant-picker-input >input:placeholder-shown ,
  .ant-input-number-input:placeholder-shown{
    font-size: 16px;
  }
  .ant-form-vertical .ant-form-item-label >label{
    font-size: 16px;
    font-weight:500;
  }
  :where(.css-dev-only-do-not-override-1u09lqq).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    border: #FF7D04 1px solid;
    height: 44px;
  }
  :where(.css-dev-only-do-not-overide-1u091qq).ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector{
    border:#FF7D04 1px solid;
  }
  :where(.css-dev-only-do-not-overide-1u091qq).ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector:focus{
    border:#FF7D04 1px solid;
  }
  :where(.css-dev-only-do-not-override-1u09lqq).ant-input-disabled, :where(.css-dev-only-do-not-override-1u09lqq).ant-input[disabled] {
    font-size:16px;
  }
  .ant-table-wrapper .ant-table-thead >tr>th{
    font-size: 18px;
    text-align: center;
  }
.ant-table-wrapper .ant-table-tbody >tr >td {
  font-size: 16px;
  text-align: center;
}
:where(.css-dev-only-do-not-override-1u09lqq).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  color: #FF7D04;
}
:where(.css-dev-only-do-not-override-1d8d5er).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-1d8d5er).ant-menu-light>.ant-menu .ant-menu-item-selected {
  background-color: #FF7D04;
  color:white;
}
:where(.css-dev-only-do-not-override-1d8d5er).ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover{
  background-color: #f7a960;
  color:white;
}
:where(.css-dev-only-do-not-override-1d8d5er).ant-menu-light .ant-menu-item:hover:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected){
  color:white
}
/* button: '#FF7D04',
primary: '#FED08C',
secondary: '#FFD8B4',
tertiary: '#FFEBD1',
quatenary: '#FDF7EF'
}, */